

.comments__title {
    max-width: 800px;
    font-size: 72px;
    line-height: 109%;
    font-weight: 900;
    margin: 0 auto;
    box-sizing: inherit;
    padding-top: 110px;
}



.comments__title {
    color: white;
    position: relative;
  }


@media (max-width: 1024px) {



    .comments__title {
        line-height: 65px;
    }


}



@media (max-width: 768px) {



    .comments__title {
        font-size: 42px;
        line-height: 46px;
        padding-top: 100px;
    }

}




@media (max-width: 425px) {



    .comments__title {
        font-size: 32px;
        line-height: 35px;
        padding-top: 53px;
    }


}