
.cover__title {
    font-size: 72px;
    line-height: 78px;
    font-weight: 900;
    margin: 278px auto 0 auto;
}

@media (max-width: 1024px) {


    .cover__title {
        max-width: 550px;
        margin: 214px auto 0 auto;
    }

}


@media (max-width: 768px) {

    .cover__title {
        max-width: 550px;
        margin: 151px auto 0 auto;
    }

  
}


@media (max-width: 588px) {
    
    .cover__title {
        font-size: 42px;
        line-height: 46px;
        margin-top: 50px;
    }


}


@media (max-width: 425px) {

    .cover__title {
        max-width: 250px;
        margin: 68px auto 0 auto;
        font-size: 32px;
        line-height: 35px;
        box-sizing: inherit;
    }


}