

 .place__website {
    display: flex;
    flex-direction: column-reverse;
    text-align: left;
 }



@media (max-width: 768px) {



    .place__website {
        justify-content: space-around;
        max-width: 352px;
    }



}




@media (max-width: 425px) {



    .place__website {
        display: none;
    }



}